/* ESTILO GERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 8px; /* Largura da barra de rolagem */
    height: 8px; /* Altura da barra de rolagem horizontal */
}

::-webkit-scrollbar-track {
    background: #73727230; /* Cor de fundo do trilho da scrollbar */
    border-radius: 10px; /* Bordas arredondadas do trilho */
}

::-webkit-scrollbar-thumb {
    background: #007bff5f; /* Cor da "polegar" da scrollbar */
    border-radius: 10px; /* Bordas arredondadas do "polegar" */
}

::-webkit-scrollbar-thumb:hover {
    background: #007bff; /* Cor da "polegar" da scrollbar ao passar o mouse */
}


#backToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    font-size: 20px;
    background-color: #007bff;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 20px;
    transition: 0.3s;
}

#backToTopBtn:hover {
    background-color: #0056b3;
}

h2.titulos, .fale-comigo{
    padding: 0% 4%;
    color:#fff;
    font-size: 35px;
    text-align: left;
    margin-top: 30px;
    font-weight: 200;
}

h2.titulos span, .fale-comigo span{
    color: #1C24F5;
    font-weight: 300;
}

body{
    background-color: #04060B;
    height: 100vh;
    -ms-overflow-style: none;  /* IE e Edge */
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.efeito-titulos, .efeito-especialidades1, .efeito-especialidades2, .efeito-especialidades3, .efeito-img-sobre, .efeito-txt-sobre, .efeito-img-port1, .efeito-img-port2, .efeito-img-port3{
    visibility: hidden;
}

.btn-contato{
    display: flex;
    justify-content: end;
}

.btn-contato-button {
    position: relative;  
    background-color: #3255bf;
    border-radius: 5px;
    box-shadow: #132764 0px 4px 0px 0px;
    padding: 15px;
    background-repeat: no-repeat;
    cursor: pointer;
    box-sizing: border-box;
    width: 154px;
    height: 49px;
    color: #fff;
    border: none;
    font-size: 14px;
    transition: all 0.3s ease-in-out;
    z-index: 1;
    overflow: hidden;
  }
  
  .btn-contato-button::before {
    content: "";
    background-color: #416ef7;
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 700ms ease-in-out;
    display: inline-block;
  }
  
  .btn-contato-button:hover::before {
    width: 100%;
  }
  
/* ESTILO CA CABEÇALHO */
header{
    padding: 40px 10%;
    display: flex;
}

.menu-desktop{
    margin: 0 110px 0 380px;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.img-criador{
    width: 400px;
    height: 400px;
}

.img-sobre img{
    border-radius: 15px;
}

header a {
    color: #fffbfb;
    text-decoration: none;
    display: inline-block;
    position: relative; 
    transition: color 0.5s, transform 0.5s; 
}

header a::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -2px; 
    height: 2px; 
    background-color: transparent; 
    transition: background-color 0.5s, transform 0.5s; 
    transform: scaleX(0); 
}

header nav.menu-desktop a:hover {
    color: #385FD9;
    transform: scale(1.01);
}

header nav.menu-desktop a:hover::after {
    background-color: #385FD9; 
    transform: scaleX(1); 
}

header nav ul{
    scroll-behavior: smooth;
    list-style-type: none;

}

header nav.menu-desktop ul li{
    display: inline-block;
    padding: 12px;
}

/* ESTILO DO MENU MOBILE */

.btn-abrir-menu i{
    display: none;
    color: #1C24F5;
    font-size: 40px;
}

.menu-mobile{
    background-color: #000;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
    width: 0%;
    overflow: hidden;
    transform: .5s;
}

.menu-mobile.abrir-menu{
    width: 70%;
}

.menu-mobile.abrir-menu ~ .overlay-menu{
    display: block;
}

.menu-mobile .btn-fechar{
    padding: 80px 5%;
}

.menu-mobile .btn-fechar i{
    color: #1C24F5;
    font-size: 38px;
}

.menu-mobile nav ul{
    text-align: right;
}

.menu-mobile nav ul li a{
    color: #fff;
    font-size: 34px;
    font-weight: 300;
    padding: 18px 8%;
    display: block;
}

.menu-mobile nav ul li a:hover{
    background-color: #385FD9;
    color: #000;
}

.overlay-menu{
    background-color: #000000de;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 88888;
    display: none;
}

/* ESTILO DO TOPO DO SITE */

section.topo-do-site{
    padding: 40px 10%;
}

section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site h1{
    padding-bottom: 30px;
    color: rgb(125, 124, 124);
    font-size: 42px;
    line-height: 51px;
    font-weight: 200;
    text-align: end;
}

.topo-do-site h1 span{
    color: #fff;
    font-weight: 500;
}

.topo-do-site h1 span.pointer{
    color: #385FD9;
}

.topo-do-site .img-topo-site img{
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

/* ESTILO DAS ESPECIALIDADE */

section.especialidades{
    padding: 95px 4%;
}

section.especialidades h2{
    padding: 0 3%;
    margin-bottom: 25px;
}

section.especialidades p{
    color: #7f7e7e;
}

section.especialidades h3{
    font-weight: 300;
}

section.especialidades .flex{
    gap:60px;
}

.especialidades .especialidades-box{
    color:#fff;
    padding:40px;
    margin-top: 45px;
    border-radius: 20px;
    transition: .2s;
}

.especialidades .especialidades-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 15px #ffffff77;
}

.especialidades .especialidades-box i{
    font-size: 60px;
    color: #385FD9;
}

.especialidades .especialidades-box h3{
    font-size: 28px;
    margin: 15px 0;
}

/* ESTILO DE SOBRE*/

section.sobre{
    padding: 60px 10%;
}

.links a {
    color: #385FD9;
    font-weight: 700;
    text-decoration: none;
    padding-right: 20px;
}

.links a i{
    font-size: 15px;
}

section.sobre .flex{
    align-items: center;
    gap: 60px;
}

.sobre .txt-sobre{
    color:#908d8d;

}

.sobre .txt-sobre h2{
    color: #fff;
    font-size: 18px;
    letter-spacing: 3px;
    font-weight: 400;
    line-height: 50px;
    margin-bottom: 20px;
}

.sobre .txt-sobre p{
    margin: 15px 0;
    text-align: justify;
}

.sobre .txt-sobre p span{
    color: rgb(255, 255, 255);
    font-weight: bold;
}

/*ESTILO DO PORTFÓLIO */

section.portfolio{
    padding: 80px 4%;
}   

section.portfolio h2{
    margin-bottom: 60px;
    text-align: center;
}

section.portfolio .flex{
    justify-content: space-around;
    margin-top: 60px;
}

.img-port{
    width: 360px;
    height: 460px;
    background-size: cover;
    background-position: 100% 0%;
    transition: 11s;
    cursor: pointer;
    border-radius: 40px;
    position: relative;
}

.img-port:hover{
    background-position: 100% 100%;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(2, 2, 2, 0.713);
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    opacity: 0;
    transition: 1.5s;
}

.overlay:hover{
    opacity: 1;
}

section.formulario{
    padding: 80px 4%;
}

section.formulario{
    padding: 187px;
}

.fale-comigo{
    color: #fff;
    font-weight: bold;
    text-align: center;
    font-size: 45px;
}

.fale-comigo .btn-contato-button{
    font-weight: bold;
    background-color: #072ea2;
    box-shadow: #385FD9 0px 4px 0px 0px;
    border-radius: 25px;
    width: 205px;
    height: 53px;
    font-size: 16px;
}

.fale-comigo .btn-contato-button a{
    text-decoration: none;
    color: #fff;
}

@media screen and (max-width: 1020px){
    /* CLASSES GERAIS */
    
    section.topo-do-site{
        padding: 20px;
    }

    section.topo-do-site h1{
        text-align: left; 
        font-size: 35px;
    }

    h2.titulos{
        font-size: 40px;
        line-height: 41px;
    }

    .flex{
        flex-direction: column;
    }

    .topo-do-site .flex{ 
        flex-direction: column-reverse;
    }

    /* CABEÇALHO */
    .menu-desktop, .btn-contato{
        display: none;
    }

    /* TOPO DO SITE */
    section.topo-do-site .flex{
        gap: 40px;
    }

    section.topo-do-site{
        padding: 40px 8%;
    }

    .topo-do-site h1{
        font-size: 30px;
    }

    .topo-do-site .img-topo-site img{
        width: 100%;
    }

    /* ESTILO DAS ESPECIALIDADE */
    section.especialidades{
        padding: 40px 8%;
    }

    /* ESTILO DE SOBRE*/
     section.sobre{
        padding: 80px 8%;
    }

    .sobre .txt-sobre h2{
        margin-bottom: 30px;
        font-size: 34px;
        line-height: 35px;
        text-align: center;
    }

    .sobre .txt-sobre p{
        line-height: 25px;
    }

    .btn-social{
        text-align: center;
    }

    .img-sobre img{
        width: 100%;
    }

    /* PORTFÓLIO */
    section.portfolio{
        padding: 80px 8%;
    } 

    .img-port{
        width: 100%;
        max-width: 360px;
        margin: 0 auto;
    }

    section.portfolio .flex{
        gap: 60px;
    }    

    /* FALE COMIGO */
    
    section.formulario{
        padding: 20px;
    }

    section.formulario h2{

        font-size: 40px;
    }
    
    /* MENU MOBILE */

    
    .menu-mobile .btn-fechar{
        padding:19px;
    }

    .menu-mobile nav ul li a{
        font-size: 30px;
        text-align: top;
    }

    .btn-abrir-menu i{
        display: block;
        margin-left: 79px;
    }
}

section.topo-do-site{
    padding: 90px;
}

section.topo-do-site .flex{    
    margin-right: 20%;
    gap: 170px;
}

.boxes {
    --size: 32px;
    --duration: 800ms;
    height: calc(var(--size) * 2);
    width: calc(var(--size) * 3);
    position: relative;
    transform-style: preserve-3d;
    transform-origin: 50% 50%;
    margin-top: calc(var(--size) * 1.5 * -1);
    transform: rotateX(60deg) rotateZ(45deg) rotateY(0deg) translateZ(0px);
  }
  
  .boxes .box {
    width: var(--size);
    height: var(--size);
    top: 0;
    left: 0;
    position: absolute;
    transform-style: preserve-3d;
  }
  
  .boxes .box:nth-child(1) {
    transform: translate(100%, 0);
    -webkit-animation: box1 var(--duration) linear infinite;
    animation: box1 var(--duration) linear infinite;
  }
  
  .boxes .box:nth-child(2) {
    transform: translate(0, 100%);
    -webkit-animation: box2 var(--duration) linear infinite;
    animation: box2 var(--duration) linear infinite;
  }
  
  .boxes .box:nth-child(3) {
    transform: translate(100%, 100%);
    -webkit-animation: box3 var(--duration) linear infinite;
    animation: box3 var(--duration) linear infinite;
  }
  
  .boxes .box:nth-child(4) {
    transform: translate(200%, 0);
    -webkit-animation: box4 var(--duration) linear infinite;
    animation: box4 var(--duration) linear infinite;
  }
  
  .boxes .box > div {
    --background: #5C8DF6;
    --top: auto;
    --right: auto;
    --bottom: auto;
    --left: auto;
    --translateZ: calc(var(--size) / 2);
    --rotateY: 0deg;
    --rotateX: 0deg;
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--background);
    top: var(--top);
    right: var(--right);
    bottom: var(--bottom);
    left: var(--left);
    transform: rotateY(var(--rotateY)) rotateX(var(--rotateX)) translateZ(var(--translateZ));
  }
  
  .boxes .box > div:nth-child(1) {
    --top: 0;
    --left: 0;
  }
  
  .boxes .box > div:nth-child(2) {
    --background: #145af2;
    --right: 0;
    --rotateY: 90deg;
  }
  
  .boxes .box > div:nth-child(3) {
    --background: #447cf5;
    --rotateX: -90deg;
  }
  
  .boxes .box > div:nth-child(4) {
    --background: #DBE3F4;
    --top: 0;
    --left: 0;
    --translateZ: calc(var(--size) * 3 * -1);
  }
  
  @-webkit-keyframes box1 {
    0%, 50% {
      transform: translate(100%, 0);
    }
  
    100% {
      transform: translate(200%, 0);
    }
  }
  
  @keyframes box1 {
    0%, 50% {
      transform: translate(100%, 0);
    }
  
    100% {
      transform: translate(200%, 0);
    }
  }
  
  @-webkit-keyframes box2 {
    0% {
      transform: translate(0, 100%);
    }
  
    50% {
      transform: translate(0, 0);
    }
  
    100% {
      transform: translate(100%, 0);
    }
  }
  
  @keyframes box2 {
    0% {
      transform: translate(0, 100%);
    }
  
    50% {
      transform: translate(0, 0);
    }
  
    100% {
      transform: translate(100%, 0);
    }
  }
  
  @-webkit-keyframes box3 {
    0%, 50% {
      transform: translate(100%, 100%);
    }
  
    100% {
      transform: translate(0, 100%);
    }
  }
  
  @keyframes box3 {
    0%, 50% {
      transform: translate(100%, 100%);
    }
  
    100% {
      transform: translate(0, 100%);
    }
  }
  
  @-webkit-keyframes box4 {
    0% {
      transform: translate(200%, 0);
    }
  
    50% {
      transform: translate(200%, 100%);
    }
  
    100% {
      transform: translate(100%, 100%);
    }
  }
  
  @keyframes box4 {
    0% {
      transform: translate(200%, 0);
    }
  
    50% {
      transform: translate(200%, 100%);
    }
  
    100% {
      transform: translate(100%, 100%);
    }
  }